@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-hidden;
}

::-webkit-scrollbar {
  @apply w-1.5;
}

::-webkit-scrollbar-track {
  @apply bg-off bg-opacity-50;
}

::-webkit-scrollbar-thumb {
  @apply rounded-md bg-primary;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary;
}

::selection {
  @apply bg-primary bg-opacity-40 text-white;
}

::-moz-selection {
  @apply bg-primary bg-opacity-40 text-white;
}

.link:hover {
  @apply text-secondary transition-all duration-500;
}

.dropdown-panel > * {
  @apply px-4 py-2.5 hover:bg-white hover:text-black;
}

.glass-effect {
  @apply bg-opacity-20 bg-clip-padding backdrop-blur-md backdrop-filter;
}

.banner {
  width: calc(100vw - 0rem);
}

.hero-image {
  height: calc(100% + 6rem + 69px);
}

html {
  scroll-behavior: smooth;
  scroll-padding: 8rem;
}
